{% extends 'base.html.twig' %}
{% block head %}
{% endblock %}

{% block title %}Spotify Clone{% endblock %}
{% block body %}
<main>
        {% if app.user %}
        <div id="dropdown1" class="dropdown">
            <ul>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </div>
        {% endif %}
        <ul id="songs">
        </ul>
</main>
{% endblock %}
