{% if app.user %}
    <div id="dropdown1" class="dropdown">
        <ul>
            <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
    </div>
{% endif %}

<div class="options">
    <a class="btn-all">Todo</a>
    <a class="btn-artists">Artistas</a>
    <a class="btn-songs">Canciones</a>
</div>
<div id="songs-searched">
    <h2 class="title-searches">Canciones</h2>
    <ul id="songs-list"></ul>
</div>
<div id="artists-searched">
    <h2 class="title-searches">Artistas</h2>
    <ul id="artists-list">
    </ul>
</div>