html, body {
    display: grid;
    height: 100%;
    margin: 2px;
    background-color: #000000;
    overflow: hidden;
}

#logo{
    width: 40px;
    height: 40px;
}

#inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 73px;
    position: relative;
}

#back-home {
    width: 45px;
    height: 45px;
    position: absolute;
    left: -50px;
    top: 10px;
    border-radius: 100%;
    background-color: #383737;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back-home:hover {
    transform: scale(1.06);
}

#home-icon {
    width: 25px;
    height: 25px;
}

#search-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 13px;
}
#search {
    display: flex;
    justify-content: center;
    width: 400px;
    padding: 15px;
    border: none;
    border-radius: 40px;
    background-color: #383737;
    font-weight: bolder;
    margin-top: 5px;
    padding-left: 45px;
}

#search::placeholder {
    transform: translate(5px);
    color: #838383;
}

#search:focus {
    outline: none;
    border: 1px solid white;
    color: #b3b3b3;
}

#app {
    display: grid;
    grid-template-areas:
    'profile profile profile'
    'aside main main'
    'play play play';
    grid-template-columns: 50px 1fr;
    grid-template-rows:1px 1fr 160px;
    height: 100dvh;
    gap: 10px;
}

.marquee {
    overflow: hidden;
}

#dropdown1 {
    display: flex;
    grid-area: main;
    justify-self: end;
    background-color: #121212;
    color: white;
    justify-content: end;
    align-items: center;
    z-index: 9999;
    opacity: 0;
}

#dropdown1 ul {
    display: flex;
    justify-self: end;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
}

#dropdown1 ul a {
    cursor: pointer;
    background-color: #121212;
}

.profile-pic {
    display: flex;
    grid-area: profile;
    width: 30px;
    height: 30px;
    border-radius: 100000px;
    padding: 15px 20px 15px 20px;
    justify-self: end;
    justify-content: center;
    align-items: center;
    align-self: end;
    margin: 0;
    cursor: pointer;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 10px;
    transition: width 0.3s;
}

aside::-webkit-scrollbar {
    display: none;
}

.hidden{
    transition: width 0.3s;
    width: 350px !important;
    opacity: 0;
    pointer-events: none;
}

#menu {
    background-color: #121212;
    border-radius: 5px;
    width: 350px;
    padding: 2px;
}

#hamburguer {
    background-color: #121212;
    width: 40px;
    height: 40px;
    position: absolute;
}

#hamburguer:hover {
    background-color: #383737;
}

#library {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

#playlists li:hover {
    background-color: #383737;
    border-radius: 10px;
}

img {
    width: 70px;
    height: 70px;
    margin: 5px;
}

#playlists li {
    display: flex;
}

p {
    color: white;
}

.playlistInfo {
    display: flex;
    flex-direction: column;
}

.playlistInfo p:last-of-type {
    font-size: 12px;
    color: #555555;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}

li {
    list-style: none;
}

a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: white;
}

/* MAIN - Habilitar scroll si las canciones ocupan mucho espacio */
main {
    grid-area: main;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 10px;
}

.options {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.options a.active {
  background-color: #333332;
  box-shadow: 1px 1px 1px #555555;
  pointer-events: none;
}

.options a {
    padding: 10px;
    border-radius: 30px;
    background-color: #555555;
    cursor: pointer;
    transition: transform .2s ease-in;
    &:hover {
        transform: scale(1.1);
    }
}


/* Limitar el alto de las canciones para evitar que sobrepasen el contenedor */
#songs {
    max-height: calc(100vh - 200px); /* Limita la altura y deja espacio para el footer */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#songs li:hover {
    background-color: #383737;
}

#artists-searched, #songs-searched {
    display: grid;
    max-width: 2560px;
    margin: 0 20px;
}

#songs-list {
    display: flex;
}

.songSearched {
    display: flex;
    gap: 10px;
}

.songSearched:hover {
    background-color: #555555;
}

#artists-popular, #albums-popular {
    display: grid;
}

#artistsUser {
    display: grid;
    margin-right: 10px;
}


#artists-list, #artists-list-populars, #albums-list-populars {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

#artistsTop-list-populars {
    margin: 0 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
}

.artistTop {
    display: flex;
    align-items: center;
    max-height: 50px;
    background-color: #555555;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    justify-content: center;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: #707070;
    }
}

.artistTopName {
    width: 100px;
}

.artistTop-img {
    width: 50px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.title-searches {
    color: white;
    font-size: 30px;
    margin-left: 15px;
}

.artist {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;
}

.album {
    padding: 10px 20px 10px 20px;
    height: 210px;
}

.artist-img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    box-shadow: 1px 1px 20px #000000;
    justify-content: center;
}

.album-img {
    width: 140px;
    height: 140px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #000000;
    justify-content: center;
}

.artist-img-back {
    background-color: #121212;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.album-img-back {
    background-color: #121212;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.artist p, .album p {
    padding: 0;
    margin: 5px;
}

.artist > p:nth-child(2n + 1), .album > p:nth-child(2n + 1) {
    color: #959595;
}

.artist > p:first-of-type {
    font-size: 16px;
    color: white;
    font-weight: bolder;
}

.album > p:first-of-type {
    font-size: 10px;
    color: white;
    font-weight: bolder;
}

.artist:hover, .album:hover {
    background-color: rgba(170,170,170,5%);
    border-radius: 15px;
    cursor: pointer;
}

audio {
    display: none;
}

footer {
    height: 100px;
    grid-area: play;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#volumeContainer {
    position: absolute;
    right: 295px;
    bottom: 10px;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player {
    width: 50px;
    height: 50px;
    border-radius: 999999px;
}

#slideController {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    justify-content: space-between;
}

#slider {
    flex-grow: 1;
    margin: 15px;
    width: 700px;
}

#tiempoRecorrido, #tiempoTotal {
    width: auto;
    text-align: center;
    color: white;
}

#song-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 10px;
    gap: 10px;
}

#song-card > div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#image-song-card {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

#title-card-song {
    margin: 0;
    padding: 0;
}

#artists-card-song{
    margin: 0;
    padding: 0;
    color: #9e9e9e;
}

#equalizer {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

#menuMobile {
    display: none;
}


#menuMobileList {
    display: none;
}

/* Media Queries para Responsividad */

@media screen and (max-width: 1500px) {
    #volumeContainer {
        right: 215px;
    }
}

/* Para pantallas medianas (tablets) */
@media screen and (max-width: 768px) {
    #app {
        grid-template-columns: 60px 1fr;
        grid-template-areas:
        'aside main'
        'play play';
        grid-template-rows: 1fr 140px;
    }
    aside {
        width: 60px; /* Más pequeño en pantallas medianas */
    }
    #menu {
        width: 280px;
    }
    img {
        width: 60px;
        height: 60px;
    }
    footer {
        height: 10dvh;
        width: 100%
    }
    #slideController {
        height: 5dvh;
        width: 300px;
    }
    #player {
        width: 30px;
        height: 30px;
    }
    #volumeContainer {
        right: 70px;
    }
}

/* Para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
    #app {
        grid-template-columns: 1fr;
        grid-template-areas:
        'main'
        'play';
        grid-template-rows: 1fr 80px;
    }
    #inputContainer {
        display: none;
    }

    .profile-pic {
    	justify-self: end;
    }
    aside {
        display: none; /* Ocultar aside en pantallas pequeñas */
    }
    #menuMobile {
        display: block;
        text-align: center;
        background-color: #383737;
        width: 100dvw;
        margin-bottom: 60px;
    }
    #menuMobileList{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: #383737;
        color: white;
    }

    #menuMobileList li {
        list-style: none;
    }

    #menuMobileList li:hover {
        background-color: #121212;
        border-radius: 10px;
    }
    #menu {
        width: 100dvw;
        padding: 10px;
    }
    img {
        width: 50px;
        height: 50px;
    }
    #playlists li {
        flex-direction: column; /* Cambiar a columna en móviles */
    }
    p {
        font-size: 0.9em;
    }
    footer {
        height: 10dvh;
        width: 100%
    }
    #slideController {
        height: 5dvh;
        width: 300px;
    }
    #player {
        width: 30px;
        height: 30px;
    }
}
