<html>
    <head>
        <meta charset="UTF-8">
        <meta title="Panel Admin Spotify Clone">
        <title>Panel Admin Spotify Clone</title>
    </head>
    <body>
        <h1>BACK SPOTIFY CLONE - DARIUS GABRIEL DOBRE</h1>
    </body>
</html>