{% extends 'base.html.twig' %}
{% block body %}
    <main>
    {% if app.user %}
        <div id="dropdown1" class="dropdown">
            <ul>
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </div>
    {% endif %}
        <div class="options">
            <a class="btn-all active">Todo</a>
            <a class="btn-artists">Artistas</a>
            <a class="btn-songs">Canciones</a>
        </div>
        {% if results is not empty %}
        <div id="artists-searched">
            <h2 class="title-searches">Artistas</h2>
            <ul id="artists-list">
                {% for artist in results %}
                    {% set image = artist.images | length != 0 ? artist.images[0].url :  asset("img/defectImg.svg") %}
                    <li class="artist" data-id="{{ artist.id }}">
                        <div class="artist-img-back">
                            <img data-src="{{ image }}" alt="{{ artist.name }}" class="artist-img lazy-load">
                        </div>
                        <p class="">{{ artist.name }}</p>
                        <p>Artista</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div id="songs-searched">
            <h2 class="title-searches">Canciones</h2>
            <ul id="songs-list"></ul>
        </div>
    </main>
{% endblock %}