<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/spotify.svg') }}">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="{{ asset('JS/jquery.audioWave.js') }}"></script>
        <script src="{{ asset('JS/jquery.marquee.min.js') }}"></script>
        <script src="{{ asset('JS/jquery.pause.min.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
        {% block head %}
        {% endblock %}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
